<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  <link rel="shortcut icon" href="img/avatar.png" type="image/x-icon">      
    <title>My-Web</title>
  </head>
  <header>
    <div class="welcome">
      <h1>Добре дошли в моето Портфолио!</h1>
      <p>Тук можете да прочете всичко за мен .</p>
    </div>
  </header>
  <nav class="nav">
    <a href="#аwards">Награди</a>
    <a href="#school">Образование</a>
    <a href="#hobby">Хоби</a>
  
    <a href="#">Начало</a>
  </nav>
  <body>
    <div class="w3-third">
    
    <div class=" w3-text-white w3-card-4">
      <div class="w3-display-container">
        <img src="img/avatar.png" style="width:100%" alt="Avatar">
        <div class="w3-display-bottomleft w3-container ">
          <h2>Симона Иванова</h2>
        </div>
      </div>
      <div class="w3-container">
        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large "></i>Front-end developer</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-large "></i>Бургас,България</p>
        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large "></i>ivanovasimona767@gmail.com</p>
        <p><i class="fa fa-github fa-fw w3-margin-right w3-large "></i><a href="https://github.com/Simona03">Github Profile</a></p>
        <hr>

        <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right "></i>Skills</b></p>
        <p>HTML/CSS & Js</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:100%">100%</div>
        </div>
        <p>Video editor</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:100%">
            <div class="w3-center w3-text-white">100%</div>
          </div>
          </div>
        <p>Adobe Photoshop  </p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:95%">95%</div>
        </div>
      
       
       
        <p>Other</p>
        <div class="w3-light-grey w3-round-xlarge w3-small">
          <div class="w3-container w3-center w3-round-xlarge w3-purple" style="width:50%">50%</div>
        </div>
        <br>

        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right "></i>Languages</b></p>
        <p>Български</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-purple" style="height:24px;width:100%"></div>
        </div>
        <p>Англиски</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-purple" style="height:24px;width:95%"></div>
        </div>
        <p>Немски</p>
        <div class="w3-light-grey w3-round-xlarge">
          <div class="w3-round-xlarge w3-purple" style="height:24px;width:25%"></div>
        </div>
        <br>
       
      </div>
    </div><br>

  <!-- End Left Column -->
  </div>
  <div class="w3-twothird">
    
    <div class="w3-container w3-card  w3-margin-bottom" id="hobby">
      <h2 class=" w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-white" ></i>Хоби</h2>
      <div class="w3-container">
        <h5 class="w3-opacity w3-text-white"><b>Photoshop</b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 6 Юни 2022 - <span class="w3-tag w3-purple w3-round">До Сега</span></h6>
        <p>Рисуване на стикери и преработване на снимки.</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>UI Design</b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>27 Май  2022</h6>
        <p> Дизайн за дипломна работа 12клас </p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Други</b></h5>
 
        <p>Когато не ми се програмира ?<br>Занимавам се с преработване на клипове от филми или преработване на снимки в клипове. </p><br>
      </div>
    </div>

    <div class="w3-container w3-card " id="school">
      <h2 class="w3-text-white w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-white"></i>Училищен етап</h2>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Висше</b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022 - <span class="w3-tag w3-purple w3-round">До сега</span></h6>
        <p>Пловдивски университет "Паисий Хилендарски"</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Средно</b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2016 - 2022</h6>
        <p>ОУ"Климент Охридски" / ПГЕЕ "Константин Фотинов"</p>
        <hr>
      </div>
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Начално </b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2009 - 2016</h6>
        <p>НУМСИ "Проф. Панчо Владигеров"</p><br>
      </div>
    </div>
    <div class="w3-container w3-card  w3-margin-bottom" id="аwards">
      <h2 class=" w3-padding-16"><i class= "fas fa-award w3-margin-right w3-xxlarge w3-text-white" ></i>Награди / Сертификати</h2>
    
      <div class="w3-container">
        <h5 class="w3-opacity"><b>Web приложение за продажба на игри и setup периферия</b></h5>
        <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>15-16 Апр 2022</h6>
       
        <p>  <i  style="color:rgb(255, 208, 0) ;"> 3 място</i>   в Националното съзтезание {Програмиране[] на C# }. </p>
        <hr>
      </div>
      <h5 class="w3-opacity"><b>UI Design (Metallica fan page)</b></h5>
      <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>27 Нов 2021</h6>
     
      <p> Национална университетска олимпиада за ученици секция "Уеб Дизайн" \n Оценка : 5,50 </p>
      <hr>
      <h5 class="w3-opacity"><b>Сертификат за Photoshop</b></h5>
      <h6 class="w3-text-white"><i class="fa fa-calendar fa-fw w3-margin-right"></i>02 Яну 2022</h6>
     
      <p>  Photoshop обучение </p>
      <hr>
      <h5 class="w3-opacity"><b>Можете да ги видите </b></h5>
    
     
      <p>  <a class="link" href="https://drive.google.com/drive/folders/1fW7pCMn1BzkoTwsgk5MFmJOD9b4xtchB?usp=sharing" >Тук</a> </p>
      <hr>
      
    </div>
 

  <!-- End Right Column -->
  </div>
  
<!-- End Grid -->
</div>

<!-- End Page Container -->
</div>
  </body>
</html>
